body {
  background-color: #232323;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;

}

header {
  background-color: steelblue;
  margin: 0px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: center;
}

#controlMenu {
  width: 600px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#controlMenu button {
  background-color: steelblue;
  color: white;
  cursor: pointer;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
}

.selected {
  background-color: green;
}

.square {
  width: 30%;
  background-color: black;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

