body {
  background-color: #232323;
}

h1, h2 {
  color: white;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#controlMenu {
  background-color: white;
  max-width: 600px;
  text-align: center;
}

.selected {
  background-color: green;
}

.square {
  width: 30%;
  background-color: black;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

